{% extends 'index.html' %}{% load i18n %}
{% block head %}
<meta name="csrf-token" content="{{csrf_token}}" />
{% endblock %}
{% load static %}
{% block content %}
	<!-- start category and banner section -->
    <div class="container-fluid">
        <div class="mainrow">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="menullist">
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'home' %}">{% trans 'HOME' %}</a></li>
                                    <li><a href="{% url 'products' %}">{% trans 'STORE' %}</a></li>
                                    <li><a href="{% url 'account' %}">{% trans 'MY ACCOUNT' %}</a></li>
                                    <li><a href="#">{% trans 'WISHLIST' %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="locationdiv11">
                                <button class="btn" type="button"><i class="fas fa-map-marker-alt"></i></button><span>{% trans 'Select Your Location' %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End category and banner section -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-12">
					<h4>{% trans 'Select your delivery Address' %}</h4>
				</div>
				<div class="col-md-12">
					<ul class="list-unstyled icons">
						<li><button class="markerbtn"><i class="fas fa-map-marker-alt"></i></button><span class="addresscls">{% trans 'Use Current Location' %}</span></li>
						<li class="newaddress"><i class="fal fa-circle"></i><a href="{% url 'new_address' %}" class="newaddressbtn btn-success border">{% trans 'Add New Address' %}</a></li>
						<li class="saveaddres"><i class="fal fa-circle"></i><button class="savedaddressbtn btn-success border">{% trans 'Saved Address' %}</button></li>
						<li><button class="markerbtn "><i class="fas fa-map-marker-alt"></i></button><span class="addresscls">{% trans 'Pickup from a nearby stores' %}</span></li>
						<!-- <li>
							<button type="button" class="btn markerbtnn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add delivery Instruction</button>
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Delivery Instruction</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        <form class="noteform">
							          <div class="form-group">
							            <label for="message-text" class="col-form-label">Message:</label>
							            <textarea class="form-control notetext" id="message-text" name="note"></textarea>
							          </div>
							          <div class="modal-footer">
								        <button type="submit" class="btn btn-primary">Send message</button>
								      </div>
							        </form>
							      </div>
							      
							    </div>
							  </div>
							</div>
						</li> -->

					</ul>
				</div>
				<div class="savedaddres">
					<div class="row">
						<div class="col-md-12">
							<h4>{% trans 'Select Your Delivery Address' %}</h4>
						</div>
						{% if currentadd|length == 0 %}
							<p style="color: red; font-size: 14px">{% trans 'There is no address saved. Please add new address to continue.' %}</p>
						{% endif %}
						{% for address in currentadd %}
						<div class="col-md-5">
							<div id="div{{address.id}}" class="addressmarg border">
								<address id="edit{{address.id}}">
								<input type="radio" name="addressradio" class="addressinpt" value="{{address.id}}" id="radio{{address.id}}" required> 
								<label class="form-check-label" for="radio{{address.id}}">{{address.title}}
								{{address.address}}, {{address.city}}, {{address.postcode}}, {{address.state}}, {{address.country}}</label>
								</address>
								<a href="{% url 'addressedit' address.pk %}" class="button btn btn-primary editaddress" id="edit{{address.id}}">{% trans 'Edit' %}</a>
								
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<form method="POST" enctype="multipart/form-data" onsubmit="return checkover18()" >
					{% csrf_token %}
					<div class="col-md-12">
						<h4>{% trans 'Select Your Delivery Time Slot' %}</h4>
					</div>
					<div class="col-md-12">
						<div class="col-md-12">
							<h6 class="headingmargin">{% trans 'Select a suitable date for delivery' %}</h6>
						</div>
					  <!-- <label for="example-date-input" class="col-2 col-form-label">Date</label> -->
						<div class="col-md-6">
						   	<input class="form-control" type="date" id="example-date-input" name="orderdate"  required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-12">
							<h6 class="headingmargin">{% trans 'Select a time slot' %}</h6>
						</div>
					  <!-- <label for="example-date-input" class="col-2 col-form-label">Date</label> -->
						 <div class="col-md-6">
						    <input class="form-control" type="time" id="example-time-input" name="ordertime" required>
						 </div>
					  	<div class="col-md-6">
					    	<input type="hidden" name="addressid" value="" class="selectaddress">
					  	</div>
					  	<div class="col-md-6">
					    	<div class="form-group">
				            <label for="message-text" class="col-form-label">{% trans 'Add delivery Instruction:' %}</label>
				            <textarea class="form-control notetext" id="message-text" name="note" required></textarea>
				          </div>
					  	</div>
					</div>

					
					{% if messages %}
					{% for message in messages %}
						<h5 style="text-align: center;">{{message}}</h5>
					{% endfor %}
				{% endif %}
					<div class="row">
						<button type="submit" class="button btn btn-success orderconfirm" disabled>{% trans 'Confirm' %}</button>
					</div>
				</form>
			</div>

		</div>
	</div>



	

	<script type="text/javascript">
		function checkover18() {
		  var dob = $('#id_dob').val();
		  console.log(dob);
		  if (dob != 'undefined'){
			  var now = new Date();
			  var from = dob.split("-");
			  var day = from[2];
			var month = from[1];
			var year = from[0];
			var mydate = new Date();
			mydate.setFullYear(year, month-1, day);
	
			var currdate = new Date();
			var setDate = new Date();
			setDate.setFullYear(mydate.getFullYear() + 18, month-1, day);
			if ((currdate - setDate) > 0){
				return true;
			}else{
				alert('Age must be 18+');
				return false;
			}
	
		  }
		  return false;
		}
	</script>

{% endblock %}


