{% extends 'index.html' %}{% load st_tags %}{% load i18n %}
{% load static %}
{% block content %}
    <!-- start category and banner section -->
    <div class="container-fluid">
        <div class="mainrow">
            <div class="row">
                <!-- <div class="col-md-2">
                    <div class="dropdown">
                      <button class="btn btn-secondary btn-lg dropdown-toggle categorydopdn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><i class="fas fa-bars"></i></span><span>All Categories</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for category in category_list %}
                        <a class="dropdown-item" href="{% url 'home:category' category.slug %}">{{category.title}}</a>
                        {% endfor %}
                      </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="menullist">
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'home' %}">{% trans 'HOME' %}</a></li>
                                    <li><a href="{% url 'products' %}">{% trans 'STORE' %}</a></li>
                                    <li><a href="{% url 'account' %}">{% trans 'MY ACCOUNT' %}</a></li>
                                    <li><a href="{% url 'wishlist' %}">{% trans 'WISHLIST' %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="locationdiv11">
                                <button class="btn" type="button"><i class="fas fa-map-marker-alt"></i></button><span>{% trans 'Select Your Location' %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End category and banner section -->
    <!-- Start product list section -->
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="aboutus">
    				<h2>{{cpage.title}}</h2>
    			</div>
    		</div>
        <div class="col-md-12">
          <div class="aboutus">
            <p>{{cpage.content|safe}}</p>
          </div>
        </div>
    	</div>
        <hr>
    </div>

{% endblock %}